<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--header-nav menu_style_home_one style2 navbar-scrolltofixed stricky main-menu-->
<header class="">
    <div class="container-fluid p0">
        <!-- Ace Responsive Menu -->
        <nav>
            <!-- Menu Toggle btn-->
            <div class="menu-toggle">
                <img class="nav_logo_img img-fluid" src="/images/logo/nia_logo.png" alt="header-logo.svg"
                     style="height: 60px;">
                <button type="button" id="menu-btn">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <a href="/#" class="navbar_brand float-left dn-smd">
                <img class="logo1 img-fluid" src="/images/logo/nia_logo.png" alt="header-logo.svg" style="height: 60px;">
<!--                <img class="logo2 img-fluid" src="/images/logo/nia_logo.png" alt="header-logo.svg" style="height: 60px;">-->
            </a>
            <!-- Responsive Menu Structure-->

            <ul id="respMenu" class="ace-responsive-menu text-right" data-menu-style="horizontal">
                <li>
<!--                    <a href="/miss/missReg"><span class="title">상황등록</span></a>-->
                </li>
                <li>
<!--                    <a href="#"><span class="title">가족찾기</span></a>-->
<!--                    <ul>-->
<!--                        <li><a href="/miss/missList">국내 실종</a></li>-->
<!--                        <li><a href="/overmiss/missList">해외입양</a></li>-->
<!--                    </ul>-->
                </li>
                <li>
<!--                    <a href="/police/missList"><span class="title">경찰청 실종 정보</span></a>-->
                </li>
                <li>
<!--                    <a href="/chat/chat"><span class="title">제보방</span></a>-->
                </li>
                <li>
<!--                    <a href="/alarm/alarm"><span class="title">알림</span></a>-->
                </li>
                <li>
<!--                    <a href="/user/profile"><span class="title">내 정보 수정</span></a>-->
                </li>
                </li>

                <li class="list-inline-item list_s">
<!--                    <a href="/user/login" onclick="location.href='/user/login'" class="btn flaticon-avatar"-->
<!--                       data-toggle="modal"-->
<!--                       data-target=".bd-example-modal-lg">-->
<!--                        <span class="dn-1200">로그인</span>-->
<!--                    </a>-->
                </li>

            </ul>
        </nav>
    </div>
</header>

<!-- 모바일 버전-->
<div id="page" class="">
    <div class="mobile-menu">
<!--        <div class="header stylehome1">-->
            <div class="main_logo_home2 text-left">
<!--                <img class="nav_logo_img img-fluid mt15" src="/images/logo/nia_logo.png" alt="header-logo2.svg"-->
<!--                     style="width: 100px; height: 40px;">-->
                <span class="mt15"></span>
            </div>
            <ul class="menu_bar_home2">
<!--                <li class="list-inline-item"><a class="custom_search_with_menu_trigger msearch_icon" href="#"-->
<!--                                                data-toggle="modal" data-target="#staticBackdrop"><span-->
<!--                        class="flaticon-loupe"></span></a></li>-->
<!--                <li class="list-inline-item"><a class="muser_icon" href="/user/login"><span-->
<!--                        class="flaticon-avatar"></span></a></li>-->
<!--                <li class="list-inline-item"><a class="menubar" href="#menu"><span></span></a></li>-->
            </ul>
<!--        </div>-->
    </div><!-- /.mobile-menu -->
    <nav id="menu" class="stylehome1">
<!--        <ul>-->
<!--            <li><a href="/miss/missReg"><span>상황등록</span></a></li>-->
<!--            <li><span>가족찾기</span>-->
<!--                <ul>-->
<!--                    <li><a href="/miss/missList">국내 실종</a></li>-->
<!--                    <li><a href="/overmiss/missList">해외입양</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li><a href="/police/missList"><span class="title">경찰청 실종 정보</span></a></li>-->
<!--            <li><a href="/chat/chat"><span>제보방</span></a></li>-->
<!--            <li><a href="/alarm/alarm"><span>알림</span></a></li>-->
<!--            <li><a href="/user/profile"><span>내 정보 수정</span></a></li>-->
<!--        </ul>-->
    </nav>
</div>
</body>
</html>